<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentRegModal()">
        <ion-icon slot="icon-only" name="construct-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center" *ngIf="noData">
    <i>Empty list</i>
  </p>
  <ion-card *ngFor="let c of cardElement">
    <ion-item>
      <ion-icon name="lock-open-outline" slot="start"></ion-icon>
      <ion-label>{{c.time}}</ion-label>
    </ion-item>

    <ion-card-content>
      {{c.reference}} is your reference for the following text encryption:<br>
      {{c.encodedText}}
    </ion-card-content>
  </ion-card>
</ion-content>