<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let c of cardElement">
    <ion-item>
      <ion-icon name="lock-open-outline" slot="start"></ion-icon>
      <ion-label>{{c.time}}</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>
  
    <ion-card-content>
      {{c.reference}} has been referenced with {{c.encodedText}}
    </ion-card-content>
  </ion-card>
</ion-content>
