<!-- <ion-content [fullscreen]="true"> -->
<ion-content>

  <div class="image" *ngIf="!showForm">
    <img src="assets/finger.svg" width="auto" height="auto">
    <ion-button type="button" shape="round" color="warning" expand="block" (click)="usePassword()">Use Password</ion-button>
  </div>

  <div class="image" *ngIf="showForm">
    <img src="assets/logo.svg" width="auto" height="auto">
    <ion-row class="option-button">
      <ion-col>
        <ion-button size="large" color="light" (click)="useFingerprint()">
          <ion-icon slot="icon-only" name="finger-print-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button size="large" color="light" (click)="presentRegModal()">
          <ion-icon slot="icon-only" name="id-card-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="form" *ngIf="showForm">
    <form [formGroup]="myForm" (ngSubmit)="validateUser()">
      <ion-input #input formControlName="password" placeholder="password" type="password" (ionFocus)="setBorderColor(input)" (ionBlur)="resetBorderColor(input)"></ion-input>
      <ion-button *ngIf="myForm.valid" type="submit" shape="round" color="success" expand="block">Verify</ion-button>
    </form>
  </div>

</ion-content>