<ion-header>
  <ion-toolbar>
    <ion-title>Your Data</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clear()" *ngIf="!noData">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="history()" *ngIf="!noData">
        <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="fileWrite()" *ngIf="!noData">
        <ion-icon slot="icon-only" name="code-download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" type="button" (click)="presentRegModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-searchbar *ngIf="!noData" animated (ionChange)="search($event)"></ion-searchbar>
  <p class="ion-text-center" *ngIf="searchResultNull">
    <i>No such item found</i>
  </p>
  <p class="ion-text-center" *ngIf="noData">
    <i>Empty list</i>
  </p>
  <ion-list *ngFor="let item of allItem">
    <ion-item-sliding>
      <ion-item (click)="detail(item)">
        <!-- <ion-icon name="document-text-outline" (click)="copy(item)"></ion-icon> -->
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>
          <h2>{{item.time}}</h2>
          <p class="ion-text-wrap">{{item.encodedText}}</p>
        </ion-label>
        <ion-note>
          {{item.indicator}}
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="light" (click)="delete(item)">
          <ion-icon id="trash" slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>