.image, .form, ion-img, ion-card{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form, ion-card{
  margin-top: 5vh;
  width: 80%;
}

ion-img{
  margin-top: 2vh;
  width: 40%;
  height: auto;
}

.image{
  margin-top: 12vh;
  width: 30%;
}

ion-row{
  margin-top: 15px;
}

ion-input{
  margin-top: 10px;
  text-align: center;
  border: 1px solid rgb(86, 3, 134);
  border-radius: 10px;
  letter-spacing: 5px;
  // box-shadow: 0.3px 0.3px 20px 2px red;
}