<!-- <ion-content [fullscreen]="true"> -->
<ion-content>
  <!-- <div class="image" (click)="history()"> -->
  <div class="image">
    <img src="assets/lock.svg" width="auto" height="auto">
  </div>

  <div class="form">
    <!-- <form [formGroup]="addForm" (ngSubmit)="encrypt(btn)"> -->
    <form [formGroup]="addForm" (ngSubmit)="encrypt()">
      <ion-input #input4 formControlName="plainText" placeholder="plain text" (ionFocus)="setBorderColor(input4)"
        (ionBlur)="resetBorderColor(input4)"></ion-input>
      <ion-input #input5 formControlName="key" placeholder="key" type="password" (ionFocus)="setBorderColor(input5)"
        (ionBlur)="resetBorderColor(input5)"></ion-input>
      <ion-input #input6 formControlName="indicator" placeholder="indicator" type="password"
        (ionFocus)="setBorderColor(input6)" (ionBlur)="resetBorderColor(input6)"></ion-input>
      <ion-row class="form-submit-button">
        <ion-col class="ion-text-left">
          <ion-button type="button" shape="round" color="warning" (click)="dismiss(false)">Close</ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button *ngIf="addForm.valid" type="submit" shape="round" color="success">
            <ion-icon slot="icon-only" name="document-attach-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <!-- <div class="form">
    <form [formGroup]="myForm" (ngSubmit)="decrypt()">
      <ion-input #input1 formControlName="encodedText" placeholder="encoded hash" (ionFocus)="setBorderColor(input1)"
        (ionBlur)="resetBorderColor(input1)"></ion-input>
      <ion-input #input2 formControlName="key" placeholder="key" type="password" (ionFocus)="setBorderColor(input2)"
        (ionBlur)="resetBorderColor(input2)"></ion-input>
      <ion-input #input3 formControlName="reference" placeholder="reference" (ionFocus)="setBorderColor(input3)"
        (ionBlur)="resetBorderColor(input3)"></ion-input>
      <ion-row class="form-submit-button">
        <ion-col class="ion-text-right">
          <ion-button *ngIf="myForm.valid" type="submit" shape="round" color="success">Decrypt</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div> -->

  <!-- <ion-card *ngIf="showMyCard">
    <ion-img src="assets/binary.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>{{remainingTime}}</ion-card-title>
      <ion-card-subtitle>{{today}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Following item has been found based on your data: <br>
      <h2>{{decodedData}}</h2>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-row class="option-button">
    <ion-col>
      <ion-button #btn type="button" expand="block" color="success" color="light" (click)="showAddForm(btn)">
        {{buttonText}}
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-button type="button" expand="block" color="success" color="light" [routerLink]="['/list']">View</ion-button>
    </ion-col>
  </ion-row> -->
</ion-content>